@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  box-sizing: border-box;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vw;
  height: 80vh;
  border: 1px solid #b79999;
  border-radius: 20px;
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.container-coffee {
  width: 50vw;
  height: 12vh;
  border: 2px solid #c2c2c2a4;
  border-radius: 10px;
}
